
@use '../colors';

.signUp {
    background: #3c3d3c;
    color: #d8d8d8;
    height: 2.15em;
    width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 28.2%;
    left: 41%;
    @media only screen and (max-width: 1200px) {
        left: 35%;
    }
    @media only screen and (max-width: 950px) {
        left: 28%;
    }
    @media only screen and (max-width: 700px) {
        position: fixed;
        top: 41em;
        left: 5em;
    }
    border-radius: 0.5em;
    font-size: 0.8em;
    opacity: 0;
    transform: translate(-50%, -50%);
    &.entrance {
        animation: fade 5s ease-in-out;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}





