
// Colors

$remixGreen: #457134;
$lightGrey: #e6e6e6;
$lighterGrey: #f9f9f9;
$darkGrey: #646464;
$introBG: #f8f8f8;
$navHover: #373737;
$lightGreyText: #7a7878;
$darkGreyText: #211f1f;
$cartIcon: #f3f3f3;
$highlightCart: #fafafa;





